/* Skills.css */
#skills {
  padding: 2rem;
  margin: 4rem auto;
  max-width: 900px; /* Maximum width of the card */
  background-color: #f4f4f4;   border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the items for a better look on the card */
  gap: 20px; /* Space between elements */
}


#skills h2 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.category {
  background: var(--card-bg-color);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 2rem); /* Subtract padding from the total width */
  box-sizing: border-box;
}

.category h3 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.category ul {
  list-style: inside circle; /* Styling list with circles inside */
  margin: 0;
  padding: 0;
}

.category ul li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .category {
    width: calc(100% - 2rem); /* Full width minus padding on smaller screens */
  }
}
